@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.mainFont {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.secondaryFont {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tertiaryFontLight {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tertiaryFontRegular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tertiaryFontBold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.corps {
  font-size: 16;
}
